.navbar{
    background-color:rgb(255, 252, 252);
}
.navbar-brand{
    color:rgb(254, 71, 83);
    font-size: 1.6rem;
}
.nav-link{
    color:#222222 !important;
}
body{
    background-color: rgb(255, 254, 254);
}

.fa-info{
    
    background-color:#d9d9d9;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    height:7.5rem;
    align-items:center;
}

.fa-socials,.fa-links{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;

}

.fa-info a{
    text-decoration:none;
    color:#222222;
    margin-left:0.5rem;
}

.fa-info a:hover{
    text-decoration:underline;
}

.fa-socials i{
    font-size:1.2rem;
    margin-left:0.7rem;
}

.card-img-top{
    border-radius: 0.8rem !important;
}
.card{
    border:none !important;
    margin-bottom:1rem;
}


.cardanch{
    text-decoration:none;
}

.card-body{
    padding:0 !important;
}

.indexejs{
    margin-bottom:0.8rem;
    padding-top:0.4rem;
}

.navbar-brand:hover{
    color:rgb(254,71,83);
}
/* New listing */
.add-btn{
    border:none;
    background-color: rgb(254, 71, 83);
}


.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color:white;
} 

/* edit */
.edit-btn{
    border:none;
    background-color: rgb(254, 71, 83);
    margin-right:1.4rem;
}

.edit-form{
    font-weight: 500;
}

.edit-img{
    height:50vh;
}

/* .container{
    margin-left:0;
    margin-right:0;
} */
/* 
footer,.fa-info{
    width:100%;
} */

.id-btn{
    display:flex;
}